.table-container {
  margin: 16px;
  border-radius: 16px;
  background-color: #666666;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;
}

.table-name {
  color: #ff6600;
}

.table-header__left {
  flex-basis: 50%;
}

.table-header__right {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table-stats {
  display: flex;
  flex-direction: column;
}

.bets-label {
  font-size: 16px;
  color: #ff6600;
}

.bets-val {
  color: #000;
}

.table-countdown {
  width: 100%;
}

.table-content {
  margin-top: 8px;
}
