.chips-area {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bets-title, .bet-amount {
  color: #fff;
}

.chips {
  display: flex;
  flex-direction: column;
}

.chip {
  height: 80px;
  width: 80px;
}
/* 
.bet-amount {
  color: #ff6600;
} */