.table-container {
  margin-top: 16px;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table-name {
  color: #ff6600;
}

.game-header__left {
  flex-basis: 50%;
}

.game-details {
  margin: 8px;
}

.computer-response {
  margin: 16px;
}

.game-content {
  margin-top: 8px;
}
